.main {
    background: #ffffff;
    background-image: radial-gradient(circle at center 40%, rgba(168, 85, 247, 0.13) 0%, rgba(255, 255, 255, 0) 60%);
    padding-top: 80px;
    justify-content: center;
    display: flex;
}

body {
    background-color: #faf8fb;
    padding-top: 72px;
}

.main .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main_blanck-span {
    display: flex;
    background: linear-gradient(135deg, #a73cdd, #e06ce0);
    gap: 8px;
    border-radius: 9999px;
    width: 216px;
    height: 32px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000;
    margin: 0 auto;
}

.main_blanck-icon {
    stroke: #ffffff;
    width: 14px;
    height: 14px;
}

.main_blanck-titel {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
}

.main_title {
    text-align: center;
    font-size: 60px;
    line-height: 1;
    color: #190d26;
    font-weight: 800;
}

.main_title-span {
    background: linear-gradient(135deg, hsl(270 70% 35%), hsl(280 80% 55%), hsl(300 70% 65%));

    -webkit-background-clip: text;
    background-clip: text;

    -webkit-text-fill-color: transparent;
    color: transparent;
}

.main_subtitle {
    text-align: center;
    color: #8c7b9d;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
}

.main_btns-div {}

.main_btn {}

.main_btn-icon {}

.main_list {}

.main_list-item {}

.main_list-span {}

.main_list-icon {}

.main_list-titel {}

.main_list-subtitle {}