body {
    font-family: ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji",
        Segoe UI Symbol, "Noto Color Emoji";
    margin: 0;
    background-color: #faf8fb;
    padding-top: 72px;
}

svg {
    display: block;
    vertical-align: middle;
}

.container {
    display: flex;
    width: 1280px;
}